{
  "printWidth": 80,
  "singleQuote": false,
  "trailingComma": "es5",
  "htmlWhitespaceSensitivity": "ignore",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "proseWrap": "preserve"
}
